.inline-icon {
    fill: #ffffff;

    svg {
        overflow: visible;
    }
}

.inline-icon--light-grey {
    fill: $brightness-86;
}

.inline-close--small svg {
    height: 100%;
    width: 45%;
}

.inline-tone-fill {
    fill: $news-default;
}

.inline-icon__fallback {
    display: none;
}
